<div class="max-w-content mx-auto px-[24px] space-y-[50px]">
  <h2 class="text-gray-dark text-center text-[80px] font-serif">Nos vins du moment</h2>
  <div class="grid grid-cols-4 gap-[1px]">

    {% for item in (0..3) %}
    <a href="#" class="block bg-green-light/20 shadow-grid">
      <article class="py-[24px] space-y-[24px]">
        <img
          src="https://toppng.com/uploads/preview/red-wine-bottle-115469785000mn3ykraej.png"
          alt="Nom du produit"
          class="mx-auto"
        />
        <div class="space-y-[8px] text-center font-medium">
          <h3 class="text-gray-dark">Blanc sur rouge</h3>
          <h4 class="text-gray-medium">20€</h4>
        </div>
      </article>
    </a>
    {% endfor %}

  </div>
  <div class="flex">
    <a href="#" class="m-auto px-[26px] py-[10px] bg-red rounded-full text-white">Découvrir notre cave exclusive</a>
  </div>
</div>

{% schema %}
{
  "name": "Collection mise en avant",
  "tag": "section",
  "class": "py-[56px]",
  "limit": 1,
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "productLength",
      "min": 4,
      "max": 16,
      "step": 4,
      "default": 4,
      "label": "Nombre de produit"
    }
  ]
}
{% endschema %}