<section id="Banner-{{ section.id }}" class="relative">
  <div class="absolute inset-x-0 top-1/2 -translate-y-1/2">
    <h2 class="text-[80px] text-white text-center">Des vins vivants, <br /> respectueux de la nature</h2>
  </div>
  <img
    src="{{ 'image-banner-background.png' | asset_img_url: '1920x' }}"
    alt="Background"
  />
  <img
    src="{{ 'image-banner-left.png' | asset_img_url: '1920x' }}"
    alt="Background"
    class="absolute left-0 bottom-0 max-w-[35%]"
  />
  <img
    src="{{ 'image-banner-right.png' | asset_img_url: '1920x' }}"
    alt="Background"
    class="absolute right-0 bottom-0 max-w-[65%]"
  />
</section>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "div",
  "class": "div"
}
{% endschema %}
